.admin-footer{
    background-color: $bg-table;
    box-shadow: 
        0 -1px 5px 0 rgba(0,0,0,.3),
        0 -1px 3px 0 rgba(0,0,0,.2),
        0 -2px 2px -1px rgba(0,0,0,.19);
    bottom: 0;
    position: fixed;
    .pagination {
        margin: 0;
        .page-item {
            .page-link{
                background-color: unset;
                border: 1px solid $border-color;
                color: $simple-red;
                &:hover{
                    color: #fff;
                    background-color: #6c757d; 
                }
            }
            &.disabled{
                .page-link{
                    color: #6c757d;
                }
            }
            &.active{
                .page-link{
                    color: #fff;
                    background-color: $simple-red;
                }
            }
        }
    }
}